header{
    text-align: left;
    height: 100px;
    width: 700px;
}

.texto1{
    text-align: left;
    height: 100px;
    width: 700px;
}

.imagen1{
    text-align: right;
    height: 100px;
    width: 610px; 
}

.texto2{
    text-align: left;
    height: 100px;
    width: 700px;
}

.texto3{
    text-align: left;
    height: 100px;
    width: 700px;
}

.imagen2{
    text-align: left;
    height: 100px;
    width: 690px; 
}

.enlace{
    text-align: left;
    height: 100px;
    width: 700px;
}

table{
    width: 40%;
    text-align: left;
    border-collapse: collapse;  
}

th, td{
   padding: 6px;
   border: solid 1px;
}

thead{
   background-color: black; 
   color: white;
}

tr:nth-child(even){
   background-color: white;
}

tr:hover td{
   background-color: black;
   color: white;
}
